@tailwind base;

p a {
  background: hsla(0, 0%, 97%, 100%);
  display: inline-block;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  color: #2d2b56;
  word-break: break-word;
}

p a:hover {
  background: hsla(342, 60%, 96%, 100%);
}

.app-footer a, .app-footer a:link {
  transition: all 0.3s ease-in-out;
}

.app-footer a, .app-footer a:hover {
  transition: all 0.3s ease-in-out;
  color: #ff9d00;
}

.markdown-body {
  @apply text-lg leading-relaxed;
}

.markdown-body p,
.markdown-body ul,
.markdown-body ol,
.markdown-body blockquote {
  @apply my-1;
}

.markdown-body h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown-body h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

@tailwind components;
@tailwind utilities;
