@tailwind base;

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  background: #f8f8f8;
  color: #222222;
}

code {
  background-color: #9efefe;
}

.markdown-body p {
  margin-bottom: 0.8em;
}

.app-header {
  border-bottom: #222222;
  text-align: left;
  line-height: 48px;
}

.article-header {
  border-bottom: #222222;
  text-align: left;
}

.app-footer {
  background: #28284f;
  color: #f8f8f8;
}
.app-footer a:link,
.app-footer a:visited {
  color: #f8f8f8;
}

.logo-icon {
  top: 0em;
  display: block;
  width: 96px;
  height: 62px;
}

.logo-icon > div {
  height: 64px;
}

p a {
  display: inline-block;
  color: #2d2b56;
  word-break: break-word;
}

.app-footer a,
.app-footer a:link {
  transition: all 0.3s ease-in-out;
}

.app-footer a,
.app-footer a:hover {
  transition: all 0.3s ease-in-out;
  color: #ff9d00;
}

.markdown-body {
  @apply text-lg leading-relaxed;
}

.markdown-body p,
.markdown-body ul,
.markdown-body ol,
.markdown-body blockquote {
  @apply my-1;
}

.markdown-body p {
  @apply mb-2;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
  font-weight: 700;
}

.markdown-body h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown-body h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.markdown-body blockquote {
  border-left: 4px;
  border-style: solid;
  border-color: #ff9d00;
  @apply bg-gray-200;
  @apply py-2;
  @apply px-2;
}

.markdown-body ul {
  list-style: disc;
  @apply ml-5;
}

.markdown-body ol {
  list-style: decimal;
  @apply ml-5;
}

@tailwind components;
@tailwind utilities;
