@tailwind base;

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

article h2,
article h3 {
  font-weight: 600;
}

article p {
  font-size: 18;
  letter-spacing: 0.01em;
}

h3 {
  @apply text-3xl;
}

p a {
  background: hsla(0, 0%, 97%, 100%);
  display: inline-block;
  border-radius: 4px;
  padding: 0 10px 0 10px;
  color: #2d2b56;
  word-break: break-word;
}

p a:hover {
  background: hsla(342, 60%, 96%, 100%);
}

.app-footer a, a:link {
  transition: all 0.3s ease-in-out;
}

.app-footer a, a:hover {
  transition: all 0.3s ease-in-out;
  color: #ff9d00;
}

@tailwind components;
@tailwind utilities;
